!!!
include credits.txt
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title= locals.title
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="canonical", href="http://www.amfmf.com")
    != css('style')
    != js('vendor/modernizr-2.6.1.min')
    include opengraph
    include analytics
    include fonts
    block head
  body
    block content
    != js('all')
    block scripts