@import "vendor/normalize.css"
@import "vendor/boilerplate.css"

light-blue = #50ac97

html, body, #bands
  height 100%

body
  font-family 'Raleway', sans-serif
  background url("/img/bg.jpg")
  background-size cover
  color #fff

.indio-presenta
  background url("/img/indio-white.png")
  width 160px
  padding-top 69px
  height 0
  overflow hidden
  position absolute
  margin 20px

#intro
  padding-bottom 20px
  h1#logo, #illustration
    height 0
    overflow hidden
    margin 0 auto
    display block
  h1#logo
    background url("/img/amf_logo.png")
    width 306px
    padding-top 294px
    position relative
    animation LogoAnimation 5s ease-in-out infinite
    -webkit-animation LogoAnimation 5s ease-in-out infinite
    @media only screen and (max-width: 320px)
      margin-top 15px
      -webkit-animation none
      animation none
  #illustration
    background url("/img/amf_illustration.png")
    width 701px
    padding-top 416px
    margin -120px auto 0
    position relative
    @media only screen and (max-width: 320px)
      display none
  #info
    text-align center
    color #000
    padding 20px
    font-size 28px
    font-weight bold
    p
      margin 0
    a
      color #000
      background #4afa35
      text-decoration none
      &:hover
        color #4afa35
        background #000

    span:after
      content " / "
    span:last-child:after
      content ""
    @media only screen and (max-width: 320px)
      font-size 20px
      padding-top 0
      span
        display block
      span:after
        content ""

  #menu
    position fixed
    bottom 1px
    margin 0 auto
    z-index 300
    width 100%
    ul
      list-style none
      margin 0 auto
      padding 0
      li
        display inline-block
        box-sizing border-box
        width 28%
        &.up
          width 16%
        a
          display block
          width 99.7%
          text-align center
          padding 0.6em 0
          font-weight 700
          color #fff
          text-decoration none
          background #000
          &:hover
            color #000
            background #4afa35



@keyframes LogoAnimation
  0%
    top -15px
  50%
    top 0
  100%
    top -15px

#partners
  color #000
  overflow hidden
  text-align center
  text-transform uppercase
  max-width 100%
  padding-bottom 40px
  img
    max-width 100%
  .block
    padding 20px
    background #fff
    margin 20px
    @media only screen and (max-width: 320px)
      margin 2px 0 0

#location
  color #000
  min-height 300px
  background url("/img/location-bg.png")
  overflow hidden
  display table
  width 100%
  #map-info
    position relative
    display table-cell
    vertical-align middle
    width 25%
    box-sizing border-box
    padding 20px
    text-align center
    h2
      font-family 'Linden Hill', serif
      margin-top 0
    p
      font-family 'Linden Hill'
    a
      position absolute
      bottom 0
      left 0
      right 0
      color #000
      background #4afa35
      padding 10px
      text-transform uppercase
      text-decoration none
      font-size 12px
      line-height 48px
      font-weight bold
      font-family Raleway, sans-serif
  #map-container
    height 300px
    width 75%
    display table-cell

@media only screen and (max-width: 767px)
  #location
    display block
    #map-info, #map-container
      width auto
      display block
    #map-info
      padding-bottom 52px
      a
        line-height 32px


#festival
  -moz-column-count 2
  -webkit-column-count 2
  column-count 2
  -moz-column-gap 80px
  -webkit-column-gap 80px
  column-gap 80px
  padding 80px
  color #000
  background url("/img/amf-transparent.png") no-repeat center center
  p
    margin 0 0 20px
  @media only screen and (max-width: 767px)
    -moz-column-count 1
    -webkit-column-count 1
    column-count 1
    padding 20px

#lineup
  margin 20px
  text-align center
  background url("/img/grid.png")
  a
    display inline-block
    text-transform uppercase
    font-size 48px
    font-weight 700
    line-height 1.3em
    margin 0 0.3em
    color #111
    text-decoration none
    padding 0 0.2em
    &:hover
      color #4afa35
      background #111
      font-weight 700
    @media only screen and (max-width: 320px)
      display block
      line-height 28px
      font-size 20px

#band
  z-index 400
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  background rgba(0,0,0,0.8)
  display none
  #lineup-btn
    display block
    position absolute
    font-weight bold
    text-align center
    text-decoration none
    color #fff
    background blue
    z-index 300
    @media only screen and (max-width: 767px)
      margin-top -50px
      margin-left -50px
      left 50%
      width 100px
      padding 60px 0 15px
      border-radius 100px
    @media only screen and (min-width: 768px)
      -webkit-animation LogoAnimation 5s ease-in-out infinite
      animation LogoAnimation 3s ease-in-out infinite
      left 20px
      margin-top 30px
      width 80px
      line-height 80px
      border-radius 100px
      padding 0
  .container
    position absolute
    top 60px
    bottom @top
    left @top
    right @top
    box-shadow 0 0 40px rgba(0,0,0,1)
    background #000
    @media only screen and (max-width: 767px)
      top 0
      bottom 0
      left 0
      right 0
      box-shadow none
      .band
        padding-top 40px

#band[data-initial]
  display block

.band
  display table
  position relative
  width 100%
  height 100%
  overflow hidden
  background-size cover
  text-align center
  .text
    display table-cell
    vertical-align middle
    text-shadow 1px 1px 1px rgba(0,0,0,1)
    @media only screen and (max-width: 320px)
      display block
      vertical-align top
      margin-top 20px
    h1, h2
      font-size 72px
      font-weight 800
      text-transform uppercase
      margin 0
      line-height 1em
      position relative
      z-index 1
      @media only screen and (max-width: 320px)
        font-size 22px
    h2
      font-size 42px
      font-weight 600
      @media only screen and (max-width: 320px)
        font-size 20px
    .description
      width 480px
      margin 20px auto
      font-size 13px
      line-height 2em
      position relative
      z-index 1
      .listen
        font-weight 700
        text-shadow none
        text-transform uppercase
        text-decoration none
        padding 0.5em
        margin 0
        color #000
        background #fff
        border 1px solid #000
        border-left none
        border-top none
        &:hover
          background #4afa35

      @media only screen and (max-width: 320px)
        width 300px
        line-height 1.6em
        text-align left
    .bg
      background url("/img/back.png") no-repeat center center
      opacity 0.4
      width 786px
      height 646px
      left 50%
      top 50%
      margin-left -393px
      margin-top -323px
      position absolute
      z-index 0