@import "vendor/normalize.css"
@import "vendor/boilerplate.css"

light-blue = #50ac97

html, body, #bands
  height 100%

body
  font-family 'Istok Web', sans-serif
  background #d8cfc6
  background-size cover
  color #fff

#bands
  .band
    background-size cover
    height 100%
    overflow hidden
    .text
      position fixed
      margin 0 auto
      padding 100px 0
      text-align center
      top 30%
      width 100%
      display block
      min-width 530px
      min-height 510px
      background url("/img/back2.gif") no-repeat top center
      h1, h2
        font-size 72px
        text-transform uppercase
        margin 0
        line-height 1em
      h2
        font-size 48px
      .description
        width 480px
        margin 20px auto
        font-size 13px